body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links li a:hover {
    color: rgb(24, 234, 42);
    
}


.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-button {
    cursor: pointer;
    background: rgb(134, 138, 135);
    color: white;
    padding: 4px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 20px;
}

.toggle-button img {
    position: relative;
    top: 1.8px;
}

.dark-mode {
    background: #121212;
    color: white;
}

.login-button {
    cursor: pointer;
    background: rgb(10, 222, 77);
    padding: 5px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 20px;
}

.login-button a  {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}